.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000055;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-inner{
    width: 500px;
    max-width: 95%;
    padding: 10px;
    background: #F0F8FF;
}

.left-margin{
    margin-left: 60px;
}


.submit-button{
    color: 'black';
    background-color:'white';
    padding: 5px;
    border: none;
    border-radius: 10px; 
}

.posts-container{
    display: flex;
    flex-direction: column;
}

.post {
    width: 45%;
    background-color: lightgrey;
    font-family: arial;
    margin-left: 30px;
    height: 80%;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    display: inline-block;
  }

  .author {
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: blue
  }

  .text {
      font-family: 'Times New Roman', Times, serif;
      color: black;
  }